<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01163204/blob/main/Actividad_semana_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
### Juan Carlos Torres Luna - A01163204
### Modulo 1

print("Hello World")
print("Hello\nWorld!")
# Comments

Hello World
Hello
World!

In [2]:
## Type,  Casting
type("Hello World")
type("1.1")

print(int("1"))
print(bool("1"))

1
True

In [4]:
## Slicing
Letters = "ASDFGHJKL"
Letters[0:5]

## Strides
Good="Guiouoiuio"
print(Good[::2])

## Uppercase
"Test uppercase".upper()

Giuii

'TEST UPPERCASE'

In [5]:
### Module 2

## Tuple
A = (0,1,2,3,4)
print(A)
print(A[0:2])

## List 
B = ["aa","bb","cc"]
B[0] = "AA"
print(B)

(0, 1, 2, 3, 4)
(0, 1)
['AA', 'bb', 'cc']

In [8]:
## Cast a List to a Set

['A','B','C','A','B','C']
set(['A','B','C','A','B','C'])

## Add element to a set
S={'A','B','C'}
S.add('D')
S

A={1,2,3,4,5}
B={1,3,9, 12}

A&B

{1, 3}

In [10]:
## Dictionary
D={'a':1,'b':2,'c':3}
D["a"]
D.keys()
D.values()

dict_values([1, 2, 3])

In [11]:
### Module 3

## Comparison Operations

a = 5
a == 6
a != 6

## Branching

x = 'a'
if(x =='a'):
    print("this is test with a")
else:
    print("this is not a")

## Logic Operators

y=0
x=1
x>0 and y<10

this is test with a

True

In [12]:
## For loops

A=[3,4,5,6]
for i in A:  
    print(i) 

## While loops
x= 3
y=1
while(y != x):
    print(y)
    y=y+1

3
4
5
6
1
2

In [13]:
## Function

def f(a,b):
  return a*b

a=4
b=3

if a*b==f(a,b):   
    print("Correct.")   
else:    
    print("Incorrect.")

def passFunc():
  pass

Correct.

In [14]:
## Classes

class Car(object):
    def __init__(self,make,model,color,seats):
        self.make=make;
        self.model=model;
        self.color=color;
        self.owner_number=0; 
        self.seats=seats;
    def car_info(self):
        print("make: ",self.make)
        print("model:", self.model)
        print("color:",self.color)
        print("number of owners:",self.owner_number)
        print("seats:",self.seats)
    def sell(self):
        self.owner_number=self.owner_number+1

make="BMW"
model="M3"
color="red"
seats=4
my_car = Car(model="Accord",make="Honda",color="blue",seats=4)
my_car.car_info()

make:  Honda
model: Accord
color: blue
number of owners: 0
seats: 4